@using Bakery.Models;


<h1>All Vendors:</h1>
@if(Model.Count == 0 )
{
    <p>You currently have no vendors!</p>
}
@foreach(Vendor vendor in Model)
{
    <h2><a href="/vendors/@vendor.VendorId">@vendor.VendorName</a></h2>
}

<a href="/">Go Home!</a>

