<h1>Add Vendor:</h1>
<form action="/vendors" method = "post">
    <label for="vendorNameIn">Please enter the vendors name:</label>
    <input type="text" id="vendorNameIn" name="vendorNameIn">
    <label for="vendorDescIn">Please Describe the Vendor:</label>
    <input type="text" id="vendorDescIn" name="vendorDescIn">
    <button type="submit">Add Vendor</button>
</form>