<h1>Pierre's Bakery</h1>
<a href="/orders/new">Create a new order!</a>
<br>
<br>
<a href="/orders">Check existing orders!</a>
<br>
<br>
<a href="/vendors/new">See all vendors!</a>
<br>
<br>
<a href="/vendors">See all vendors!</a>
