@using Bakery.Models

<h1>Pierre's Orders</h1>
@foreach(Order order in Model)
{
    <ul>
        <li>@order.Title</li>
        <li>@order.OrderDescription</li>
        <li>@order.Date</li>
    </ul>
}

<a href="/">Go Home!</a>

<a href="/vendors">Check out all vendors!</a>